  <section class="section top100 last-section">
    <div class="container top50 has-text-centered-mobile">
      <div class="column is-6-desktop is-7-tablet is-10-mobile is-offset-1-mobile">
        <h1 class="title has-text-centered-mobile  wow fadeInLeft"  id="servicesButton">SERVICES </h1>
        <p class="has-text-justified wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.4s"><span class="title has-text-weight-bold is-1 ">W</span>e provide our clients with tailored solutions based on their specific requirements for each facility or property. We have solid expertise representing various industries and sectors.</p>
      </div>
    </div>

    <div class="container">
      <div class="columns is-relative services top100 is-10-tablet is-offset-1-tablet">
        <div class="column is-relative ">
          <div class="services-shape wow fadeInUp rollIn"  data-wow-duration=".8s" data-wow-delay="0.5s"></div>
          <div class="services-shape2 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.3s"></div>
          <h1 class="subtitle  has-text-weight-bold gold wow fadeInUp">Hard Services</h1>
          <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.5s">MEP</p>
          <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.6s">LOW VOLTAGE</p>
          <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.7s">CIVIL WORKS</p>
        </div>
        <div class="column is-relative ">
          <div class="services-shape wow fadeInUp rollIn"  data-wow-duration=".8s" data-wow-delay="0.6s"></div>
          <div class="services-shape2 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.4s"></div>
          <h1 class="subtitle  has-text-weight-bold gold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.3s">Soft Services</h1>
          <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.6s">CLEANING </p>
          <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.7s">SECURITY </p>
          <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.8s">PEST CONTROL </p>
          <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.9s">LANDSCAPING </p>
        </div>
        <div class="column  is-relative ">
          <div class="services-shape wow fadeInUp rollIn"  data-wow-duration=".8s" data-wow-delay="0.7s"></div>
          <div class="services-shape2 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.5s"></div>
          <h1 class="subtitle  has-text-weight-bold gold  wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.5s">Property Services</h1>
          <p class="wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.7s">INFORMATION DESK</p>
          <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.8s">TENANTS RELATIONS</p>
          <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.9s">RENT COLLECTION </p>
          <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1s"> VALET PARKING </p>
          <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.1s"> CAR PARK MANAGEMENT </p>
        </div>
        <div class="column  is-relative ">
          <div class="services-shape wow fadeInUp rollIn"  data-wow-duration=".8s" data-wow-delay="0.8s"></div>
          <div class="services-shape2 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.6s"></div>
          <h1 class="subtitle  has-text-weight-bold gold  wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.7s">Consultancy</h1>
          <p  class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.8s">DESIGN STAGE</p>
          <p  class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.9s">CONSTRUCTION STAGE</p>
          <p  class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.0s">OPERATIONAL CONSULTANCY</p>
          <p  class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.1s">COST REDUCTION STRATEGY</p>
        </div>
       

      </div>
    </div>

    <div class="container top50  services-pt2">
      <div class="columns is-relative">
        <!-- <div class="bottom-shape"></div> -->
        <div class="column has-text-centered card-image is-10-mobile is-offset-1-mobile wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.3s">
          <img style="height: auto; width: 100%;" src="/assets/images/team.jpeg">
        </div>
        <div class="column has-text-justified-mobile  is-10-mobile is-offset-1-mobile">
          <h1 class="subtitle gold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.6s">Fully integrated services, focusing on property, people and technology.</h1>
          <h1 class="subtitle wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1s">We aim to achieve your FM goals by developing a long term strategic partnership resulting in cost effective results and an optimized business solution..</h1>
        </div>
      </div>
    </div>
  </section>
