  <section class="section is-relative team-top " style="height: 400px">
      <div class="left wow fadeInDown "  data-wow-duration=".8s" data-wow-delay=".2s"></div>
      <div class="right wow fadeInDown "  data-wow-duration=".8s" data-wow-delay=".3s"></div>
      <div class="left-upper wow fadeInDown rollIn"  data-wow-duration=".8s" data-wow-delay=".4s"></div>
      <div class="left-lower wow fadeInDown rollIn"  data-wow-duration=".8s" data-wow-delay=".5s"></div>
  </section>
  
  <section class="section last-section" style="margin-top: -50px;">
    <div class="container">
      <div class="column has-text-centered-mobile">
        <h1 id="teamButton" class="title wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".9s">OUR TEAM</h1>
      </div>
    </div>
    <div class="container top50">
      <div class="columns">
        <div class="column is-5-desktop is-5-tablet is-10-mobile is-offset-1-mobile">
          <figure class="image  wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.8s">
            <img  src="/assets/images/team.jpg">
          </figure>

        </div>
        <div class="column has-text-justified-mobile has-text-left-desktop has-text-left-tablet has-text-weight-bold has-text-justified-desktop is-10-mobile is-offset-1-mobile">
            <h1 class="subtitle has-text-centered-mobile is-3 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.9s">Trust Us</h1>
             <p class="subtitle is-6 has-text-weight-bold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.94s">Our team consists of highly experienced, innovative FM professionals, each having worked in senior operational FM roles within complex built environments and across challenging core businesses</p>
             <p class="subtitle is-6 has-text-weight-bold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.99s">We share a wealth of experiences from across the spectrum of Facility Management disciplines.</p>
             <p class="subtitle is-6 has-text-weight-bold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1s">We share a wealth of experiences from across the spectrum of Facility Management disciplines.</p>
             <p class="subtitle is-6 has-text-weight-bold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.09s">
               We believe in being open, approachable and modest, while constantly striving to offer innovative and creative Facility Management solutions.
             </p>
        </div>
      </div>
    </div>

    <div class="container top100">
      <div class="column is-offset-1-desktop is-8-desktop ">
        <div class="box is-shadowless">
          <article class="media">
            <div class="media-left is-relative">
              <figure class="image is-128x128 wow fadeInLeft"  data-wow-duration=".s" data-wow-delay=".6s">
                <img src="/assets/images/team/team1.png" alt="Image">
              </figure>
              <div class="team-shape wow fadeInUp rollIn"  data-wow-duration=".8s" data-wow-delay=".3s"></div>
              <div class="team-shape2 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".7s"></div>
            </div>
            <div class="media-content">
              <div class="content has-text-justified">
                <p class="wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".3s">
                  <strong class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.3s">Faisal Al Musallam</strong> 
                  <br>
                  <small class="gold is-6 wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".8s"> Managing Director</small>
                  <br>
                    Faisal is a Co-founder and the Managing Director at Optimus FM. Prior to that, Faisal held several leadership positions in leading organizations; such as Head of the Corporate Development and Expansion in ABYAT and Senior Relationship Manager for the Real Estate and Construction sector at NBK Corporate. Faisal is the Chairman of ABYAT Real Estate Company and a board member at ABYAT Megastore
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
                    <span class="icon is-small">
                      <i class="fas fa-reply" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
                    <span class="icon is-small">
                      <i class="fas fa-retweet" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="container ">
      <div class="column is-offset-3-desktop is-8-desktop top50">
        <div class="box is-shadowless">
          <article class="media">
            <div class="media-left is-relative">
              <figure class="image is-128x128 wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".6s">
                <img src="/assets/images/team/team2.png" alt="Image">
              </figure>
              <div class="team-shape wow fadeInUp rollIn"  data-wow-duration=".8s" data-wow-delay=".3s"></div>
              <div class="team-shape2 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".7s"></div>
            </div>
            <div class="media-content">
              <div class="content has-text-justified">
                <p class="wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".3s">
                  <strong class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.3s">Eng. Saoud Al Musallam</strong> 
                  <br>
                  <small class="gold is-6 wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".8s"> Senior Technical Advisor</small>
                  <br>
                    Saoud is a Co-founder and the Senior Technical Advisor at Optimus FM. Saoud brings a vast wealth of knowledge and experience in the facility management industry for almost 20 years. Saoud established, developed, and led the facility management of several leading properties such as; Marina Mall, Burgan Bank Head Office, the Avenues Mall, Australian College of Kuwait, and Jazeera Airways Terminal 5.
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
                    <span class="icon is-small">
                      <i class="fas fa-reply" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
                    <span class="icon is-small">
                      <i class="fas fa-retweet" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
    </div>


    <div class="container ">
      <div class="column is-offset-1-desktop is-8-desktop top50">
        <div class="box is-shadowless">
          <article class="media">
            <div class="media-left is-relative">
              <figure class="image is-128x128 wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".6s">
                <img src="/assets/images/team/team3.png" alt="Image">
              </figure>
              <div class="team-shape wow fadeInUp rollIn"  data-wow-duration=".8s" data-wow-delay=".3s"></div>
              <div class="team-shape2 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".7s"></div>
            </div>
            <div class="media-content">
              <div class="content has-text-justified">
                <p class="wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".3s">
                  <strong class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.3s">Eng. Shamayel Al Marzouq</strong> 
                  <br>
                  <small class="gold is-6 wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".8s">Senior Technical Advisor</small>
                  <br>
                    Shamayel is a Co-founder and Senior Technical Advisor at Optimus FM. Shamayel has a wide experience and affiliations within the construction and maintenance industry.  Having held several leading positions such as Project Manager at Projacs, Lead Project Manager of College of Engineering and Petroleum at Sabah Al Salem University City, and as of now the Technical Consultant to the Corporate Contracting & Real Estate Division at Gulf Bank
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
                    <span class="icon is-small">
                      <i class="fas fa-reply" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
                    <span class="icon is-small">
                      <i class="fas fa-retweet" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
