<section class="section is-relative team-top " style="height: 400px">
  <div class="left wow fadeInDown " data-wow-duration=".8s" data-wow-delay=".2s"></div>
  <div class="right wow fadeInDown " data-wow-duration=".8s" data-wow-delay=".3s"></div>
  <div class="left-upper wow fadeInDown rollIn" data-wow-duration=".8s" data-wow-delay=".4s"></div>
  <div class="left-lower wow fadeInDown rollIn" data-wow-duration=".8s" data-wow-delay=".5s"></div>
</section>

<section class="section" style="margin-top: -50px;">

  <div class="container  top50">
    <div class="columns is-vcentered">
      <div class="column is-5-desktop is-5-tablet is-10-mobile is-offset-1-mobile">
        <figure class="image  wow fadeInUp" data-wow-duration=".8s" data-wow-delay="0.8s">
          <img src="/assets/images/team.jpg">
        </figure>

      </div>
      <div
        class="column has-text-justified-mobile has-text-left-desktop has-text-left-tablet has-text-weight-bold has-text-justified-desktop is-10-mobile is-offset-1-mobile">
        <h1 id="teamButton" class="title wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".9s">OUR</h1>
        <h1 id="teamButton" class="title wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".92s">PROJECTS</h1>
        <h1 id="teamButton" class="title wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".94s">PORTFOLIO</h1>
      </div>
    </div>
  </div>


  <!-- <div class="main">
<div class="reacta">

</div>
  <div class="child2 fadeInUp" data-wow-duration=".8s" data-wow-delay="1s" >
    

  </div>
  <div class="child1">

  </div>


</div> -->

  <div class="project-card">
    <div class="smallrecta">
    </div>
    <div class="recta1 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <div class="text-box2">
        <p class="nam1">Taiba Hospital</p>
        <h3 class="sm">Total FM</h3>
      </div>
  
    </div>
    <div class="child1 taiba wow fadeInUp">
    </div>
  
    <div class="recta2 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <div class="text-box1">
        <p class="nam1">NREC</p>
        <p class="nam2">
          Water Front Project
          <br /> Sooq Sharq
        </p>
      </div>
      <h3 class="sm3">FM Consultancy, Audit & Gap analysis
      </h3>
    </div>
    <div class="child2 nrec">
  
    </div>
  
  </div>

  

  <div class="project-card">
    <div class="smallrecta">
    </div>
    <div class="recta1 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <div class="text-box3">
        <!-- <p class="nam1">Taiba Hospital</p>
        <h3 class="sm">Total FM</h3> -->
        <p class="nam1">Gulf Consult</p>
        
        <p class="nam2">
          <span id="content1">Central Agency 
            </span><span id="content2">for Public Tenders.</span>
          </p>
          <!-- <br /> Sooq Sharq -->
      </div>
      <h3 class="sm2">

        <span id="content1">FM Consultancy, Review & Evaluation during design stage  </span>
        


      </h3>
    </div>
    <div class="child1 gulf-consult wow fadeInUp">
    </div>
  
    <div class="recta2 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <div class="text-box2">
        <!-- <p class="nam1">NREC</p>
        <p class="nam2">
          Water Front Project
          <br /> Sooq Sharq -->
        <!-- </p> -->
        <p class="nam1">Jahra Gate Mall</p>
        <h3 class="sm">Total FM</h3>
      </div>
      <!-- <h3 style="color: orange;padding-left: 30%;">FM Consultancy, Audit & Gap analysis
      </h3> -->
    </div>
    <div class="child2 jahra-gate">
  
    </div>
  
  </div>


  <div class="project-card">
    <div class="smallrecta">
    </div>
    <div class="recta1 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <div class="text-box2">
        <p class="nam1">Tujjar Tower</p>
        <h3 class="sm">Total FM</h3>
      </div>
  
    </div>
    <div class="child1 tower wow fadeInUp">
    </div>
  
    <div class="recta2 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <!-- <div class="text-box1">
        <p class="nam1">NREC</p>
        <p class="nam2">
          Water Front Project
          <br /> Sooq Sharq
        </p>
      </div> -->
      <div class="text-box2">
        <p class="nam1">Abyat</p>
        <h3 class="sm">Total FM</h3>
      </div>
      <!-- <h3 style="color: orange;padding-left: 30%;">FM Consultancy, Audit & Gap analysis
      </h3> -->
    </div>
    <div class="child2 abyat">
  
    </div>
  
  </div>




  <div class="project-card">
    <div class="smallrecta">
    </div>
    <div class="recta1 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <div class="text-box2">
        <p class="nam1">SVN</p>
        <h3 class="sm">Technical Audit & FM Library</h3>
      </div>
  
    </div>
    <div class="child1 snv wow fadeInUp">
    </div>
  
    <div class="recta2 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <!-- <div class="text-box1">
        <p class="nam1">NREC</p>
        <p class="nam2">
          Water Front Project
          <br /> Sooq Sharq
        </p>
      </div> -->
      <div class="text-box2">
        <p class="nam1">Khaleejya</p>
        <h3 class="sm">Total FM</h3>
      </div>
      <!-- <h3 style="color: orange;padding-left: 30%;">FM Consultancy, Audit & Gap analysis
      </h3> -->
    </div>
    <div class="child2 khaleejiya-complex">
  
    </div>
  
  </div>
 
  



  <div class="project-card">
    <div class="smallrecta">
    </div>
    <div class="recta1 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <div class="text-box2">
        <p class="nam1">Melenzane</p>
        <h3 class="sm">Soft Services</h3>
      </div>
  
    </div>
    <div class="child1 melenzane wow fadeInUp">
    </div>
  
    <div class="recta2 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <!-- <div class="text-box1">
        <p class="nam1">NREC</p>
        <p class="nam2">
          Water Front Project
          <br /> Sooq Sharq
        </p>
      </div> -->
      <div class="text-box2">
        <p class="nam1">Gulf Cables</p>
        <h3 class="sm">Total FM</h3>
      </div>
      <!-- <h3 style="color: orange;padding-left: 30%;">FM Consultancy, Audit & Gap analysis
      </h3> -->
    </div>
    <div class="child2 gulf-cables">
  
    </div>
  
  </div>






  <div class="project-card">
    <div class="smallrecta">
    </div>
    <div class="recta1 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <div class="text-box2">
        <p class="nam1">Arkan Clinic</p>
        <h3 class="sm">Total FM</h3>
      </div>
  
    </div>
    <div class="child1 arkan wow fadeInUp">
    </div>
  
    <div class="recta2 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <!-- <div class="text-box1">
        <p class="nam1">NREC</p>
        <p class="nam2">
          Water Front Project
          <br /> Sooq Sharq
        </p>
      </div> -->
      <div class="text-box2">
        <p class="nam1">Sulaiman Tower</p>
        <h3 class="sm">Total FM</h3>
      </div>
      <!-- <h3 style="color: orange;padding-left: 30%;">FM Consultancy, Audit & Gap analysis
      </h3> -->
    </div>
    <div class="child2 sulaiman-tower ">
  
    </div>
  
  </div>





  <div class="project-card">
    <div class="smallrecta">
    </div>
    <div class="recta1 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s">
      <div class="text-box2">
        <p class="nam1">Boursa</p>
        <h3 class="sm">Technical Audit & Gap Analysis
        </h3>
      </div>
  
    </div>
    <div class="child1 boursa wow fadeInUp">
    </div>
  
    <!-- <div class="recta2 wow fadeInUp" data-wow-duration=".8s" data-wow-delay="1s"> -->
      <!-- <div class="text-box1">
        <p class="nam1">NREC</p>
        <p class="nam2">
          Water Front Project
          <br /> Sooq Sharq
        </p>
      </div> -->
      <!-- <div class="text-box2">
        <p class="nam1">Sulaiman Tower</p>
        <h3 class="sm">Total FM</h3>
      </div> -->
      <!-- <h3 style="color: orange;padding-left: 30%;">FM Consultancy, Audit & Gap analysis
      </h3> -->
    <!-- </div>
    <div class="child2">
  
    </div> -->
  
  </div>








  <!-- <div class="project-card">
    <div class="level is-relative top100">
      <div class="picture-shape taiba wow fadeInUp " data-wow-duration=".8s" data-wow-delay="1s"></div>
      <div class="upper-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.6s"></div>
      <div class="lower-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.7s"></div>
    </div>

    <div class="columns pb-100">
      <div class="column is-7-desktop is-5-tablet is-10-mobile is-offset-1-mobile px-5">

        <h3 class="title has-text-centered is-size-1">Taiba Hospital</h3>
      </div>
      <div
        class="column has-text-justified-mobile has-text-left-desktop has-text-left-tablet has-text-weight-bold has-text-justified-desktop is-10-mobile is-offset-1-mobile">
        <div class="py-6">
          <h2 class="subtitle has-text-weight-bold is-size-4">Completed scope:</h2>
          <h2 class="subtitle has-text-weight-bold">FM Audit & comprehensive gap analysis.</h2>
          <h2 class="subtitle has-text-weight-bold">Total FM tender preparation.</h2>

        </div>
      </div>
    </div>
  </div>



  <div class="project-card">
    <div class="level is-relative top100">
      <div class="picture-shape water wow fadeInUp " data-wow-duration=".8s" data-wow-delay="1s"></div>
      <div class="upper-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.6s"></div>
      <div class="lower-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.7s"></div>
    </div>

    <div class="columns pb-100">
      <div class="column is-5-desktop is-5-tablet is-10-mobile is-offset-1-mobile px-5">

        <h3 class="title has-text-centered is-size-1">NREC
          Water Front Project Sooq Sharq</h3>
      </div>
      <div
        class="column has-text-justified-mobile has-text-left-desktop has-text-left-tablet has-text-weight-bold has-text-justified-desktop is-10-mobile is-offset-1-mobile">
        <div class="py-6">
          <h2 class="subtitle has-text-weight-bold is-size-4">Completed scope:</h2>
          <h2 class="subtitle has-text-weight-bold">Identified FM gaps & provided a fully integrated rectification plan
            to enhance and upgrade the overall Facilities Management scope as a part of their BOT renewal exercise.</h2>


        </div>
      </div>
    </div>
  </div>

  <div class="project-card">
    <div class="level is-relative top100">
      <div class="picture-shape gulf wow fadeInUp " data-wow-duration=".8s" data-wow-delay="1s"></div>
      <div class="upper-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.6s"></div>
      <div class="lower-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.7s"></div>
    </div>

    <div class="columns">
      <div class="column is-5-desktop is-5-tablet is-10-mobile is-offset-1-mobile pr-50 pl-50">

        <h3 class="title  is-size-3">Gulf Consult Central Agency for Public Tenders (CAPT) New Headquarters</h3>
      </div>
      <div
        class="column has-text-justified-mobile has-text-left-desktop has-text-left-tablet has-text-weight-bold has-text-justified-desktop is-5-desktop is-10-mobile is-offset-1-mobile">
        <div class="py-6 pr-50">
          <h2 class="subtitle has-text-weight-bold is-size-4">Completed scope:</h2>
          <h2 class="subtitle has-text-weight-bold">Reviewed & evaluated layouts, space program and rendered images and
            provided a write up for FM findings and technical observation.</h2>
          <h2 class="subtitle has-text-weight-bold">
            Presented an final evaluation report used by Gulf Consult to capture all design FM requirements.
          </h2>

        </div>
      </div>
    </div>
  </div>


  <div class="project-card">
    <div class="level is-relative top100">
      <div class="picture-shape mall wow fadeInUp " data-wow-duration=".8s" data-wow-delay="1s"></div>
      <div class="upper-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.6s"></div>
      <div class="lower-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.7s"></div>
    </div>

    <div class="columns pb-100">
      <div class="column is-7-desktop is-5-tablet is-10-mobile is-offset-1-mobile px-5">

        <h3 class="title has-text-centered is-size-1">Jahra Gate Mall</h3>
      </div>
      <div
        class="column has-text-justified-mobile has-text-left-desktop has-text-left-tablet has-text-weight-bold has-text-justified-desktop is-10-mobile is-offset-1-mobile">
        <div class="py-6 pr-50">
          <h2 class="subtitle has-text-weight-bold is-size-4">Scope:</h2>
          <h2 class="subtitle has-text-weight-bold">Fully integrated Facilities Management Scope to achieve industry
            best practices.</h2>
          <h2 class="subtitle has-text-weight-bold">We were able to achieve 15% cost reduction YoY by implementing our
            optimization strategy.</h2>

        </div>
      </div>
    </div>
  </div>


  <div class="project-card">
    <div class="level is-relative top100">
      <div class="picture-shape tower wow fadeInUp " data-wow-duration=".8s" data-wow-delay="1s"></div>
      <div class="upper-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.6s"></div>
      <div class="lower-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.7s"></div>
    </div>

    <div class="columns pb100">
      <div class="column is-7-desktop is-5-tablet is-10-mobile is-offset-1-mobile px-5">

        <h3 class="title has-text-centered is-size-1">Tujjar Tower</h3>
      </div>
      <div
        class="column has-text-justified-mobile has-text-left-desktop has-text-left-tablet has-text-weight-bold has-text-justified-desktop is-10-mobile is-offset-1-mobile">
        <div class="py-6 pr-50">
          <h2 class="subtitle has-text-weight-bold is-size-4">Completed scope:</h2>
          <h2 class="subtitle has-text-weight-bold">Fully integrated Facilities Management Scope to achieve industry
            best practices.</h2>

        </div>
      </div>
    </div>
  </div>


  <div class="project-card">
    <div class="level is-relative top100">
      <div class="picture-shape abyat wow fadeInUp " data-wow-duration=".8s" data-wow-delay="1s"></div>
      <div class="upper-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.6s"></div>
      <div class="lower-shape wow fadeInUp rotateIn" data-wow-duration=".8s" data-wow-delay="1.7s"></div>
    </div>

    <div class="columns pb100">
      <div class="column is-7-desktop is-5-tablet is-10-mobile is-offset-1-mobile px-5">

        <h3 class="title has-text-centered is-size-1">Abyat</h3>
      </div>
      <div
        class="column has-text-justified-mobile has-text-left-desktop has-text-left-tablet has-text-weight-bold has-text-justified-desktop is-10-mobile is-offset-1-mobile">
        <div class="py-6 pr-50">
          <h2 class="subtitle has-text-weight-bold is-size-4">Completed scope:</h2>
          <h2 class="subtitle has-text-weight-bold">Fully integrated Facilities Management Scope to achieve industry
            best practices.</h2>

        </div>
      </div>
    </div>
  </div> -->

  <div class="last-part">
    
    </div>


</section>