  <section class="section COMPETITIVE">

     <div class="container top50 has-text-centered-mobile">
      <div class="column is-6-desktop is-7-tablet is-10-mobile is-offset-1-mobile">
        <h1 id="advantageButton" class="title is-marginless  wow fadeInLeft "  data-wow-duration=".8s" data-wow-delay="0.3s">COMPETITIVE </h1>
        <h1 class="title wow fadeInLeft "  data-wow-duration=".8s" data-wow-delay="0.4s">ADVANTAGE </h1>
         <p class="wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.5s"><span class="title is-1 has-text-weight-bold">A</span> tailored approach is adopted by Optimus FM to our clients based on the requirements of each facility or property. Optimus FM will provide the right assessment for each facility ensuring the safety and quality of property management. </p>
      </div>
      </div>


      <div class="column is-5-desktop is-half-tablet is-offset-5-tablet has-text-right">
            <img class="has-text-right-mobile wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.7s" src="/assets/images/qoute.png">
            <h1 class="subtitle gold has-text-weight-bold has-text-centered-mobile  wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.8s">
              Optimus FM will provide the right assessment for each client facility ensuring the optimum response time with quality assurances
            </h1>
      </div>
  </section>
  <section class="section is-relative advantage  "  style="height: 600px">
      <div class="half-shape wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="1.6s"></div>
      <div class="divide-shape wow fadeInUp rollIn"  data-wow-duration=".8s" data-wow-delay="0.6s"></div>
  </section>

  <section class="section is-relative cards " >
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class=" image is-128x128 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.6s">
                   <div class="image is-64x64 " style="background-image: url(assets/images/svg/missioBlack.svg);background-size: cover;"></div>
                    
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-5 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.4s">Facilities Contracts Management</p>
                  <p class="subtitle is-6 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.8s">Review all existing facilities contracts and highlight contractor’s performance and adherence to contractual obligations. Draft & review all contractual aspects with subcontractors</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class=" image is-128x128 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.7s">
                     <div class="image is-64x64 " style="background-image: url(assets/images/svg/growth.svg);background-size: cover;"></div>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-5 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay=".5s">Reporting</p>
                  <p class="subtitle is-6 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.9s">We provide periodic system generated reports and dashboards to review the overall status. This also includes trend reports related to consumption. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class=" image is-128x128 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.6s">
                     <div class="image is-64x64 " style="background-image: url(assets/images/svg/pen.svg);background-size: cover;"></div>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-5 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.4s">Assessment </p>
                  <p class="subtitle is-6 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.8s">Assessment & review of existing facility’s management setup & performance. Providing gap analysis with corrective recommendations.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class=" image is-128x128 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.7s">
                     <div class="image is-64x64 " style="background-image: url(assets/images/svg/industry.svg);background-size: cover;"></div>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-5 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay=".5s">Operations Optimization</p>
                  <p class="subtitle is-6 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.9s">Introduce operations optimization processes by maintaining efficiencies while ensuring the longitivity of assets. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class=" image is-128x128 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.6s">
                     <div class="image is-64x64 " style="background-image: url(assets/images/svg/contract.svg);background-size: cover;"></div>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-5 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.4s">Procurement Strategy Management</p>
                  <p class="subtitle is-6 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.8s">This includes aligning contracts, managing tenders, outsourcing, specification development, SLA’s and KPI’s. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class=" image is-128x128 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.7s">
                     <div class="image is-64x64 " style="background-image: url(assets/images/svg/reading.svg);background-size: cover;"></div>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-5 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay=".5s">Supervision</p>
                  <p class="subtitle is-6 wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="0.9s">  
                    Our inhouse facility management specialist supervises all operations of support services. These include facility contracts and facility teams.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-relative card-bottom last-section" style="height: 400px">
      <div class="half-shape wow fadeInUp "  data-wow-duration=".8s" data-wow-delay=".9s"></div>
      <div class="divide-shape wow fadeInUp rotateIn"  data-wow-duration=".8s" data-wow-delay="0.6s"></div>
      <div class="divide-shape-upper wow fadeInUp rotateIn"  data-wow-duration=".8s" data-wow-delay=".8s"></div>
  </section>
