  <section class="section  is-relative management is-5 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0s">
    	<br><br>
	    <div class="container">
	      <div class="columns">
	        <div class=" column is-offset-0-desktop top50  has-text-centered-mobile is-offset-1-tablet  is-5-desktop">
	          <h1 class="subtitle is-paddingless is-marginless whiter is-5  wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".6s" id="CAFMButton">COMPUTER AIDED</h1>
	          <h1 class="subtitle whiter  is-5 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".8s">FACILITY MANAGEMENT</h1>
	        </div>
	      </div>
	    </div>
	    <div class="container">
	      <div class="columns">
	        <div class="column is-4-desktop  is-10-mobile is-offset-1-mobile is-offset-0-desktop has-text-justified-mobile is-4-tablet is-offset-1-tablet">
	          <div class="hero-body">
	             <p class="subtitle white is-5 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".81s">CAFM is a software platform that streamlines Facilities Management and maintenance, for managing spaces, real estate planning, building operations, preventive maintenance and more.</p>
	          </div>
	         

	          <div class="hero-body">
	            <h2 class="subtitle is-marginless is-6 gold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".85s"><span class="chat-box wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".86s" style="background-image: url(assets/images/svg/chat-white.svg); "></span> Client Request</h2>
	            <p class="white subtitle is-6 has-text-justified wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".88s">Initiate complaint to Optimus FM through operator, telephone, email and handheld devices.</p>
	          </div>
	          <div class="hero-body">
	            <h2 class="subtitle is-marginless is-6 gold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".9s"><span class="chat-box wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".94s" style="background-image: url(assets/images/svg/headset.svg); "></span>24/7 Customer Support </h2>
	            <p class="white subtitle is-6 has-text-justified  wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".98s">Through CAFM the complaint is received and registered using a ticketing system</p>
	          </div>
	          <div class="hero-body">
	            <h2 class="subtitle is-marginless is-6 gold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.01s"><span class="chat-box  wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay="1.07s" style="background-image: url(assets/images/svg/global.svg); "></span>Ticket Assignment</h2>
	            <p class="white subtitle is-6 has-text-justified  wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.1s">Service provider to be notified through systems linked to CAFM.</p>
	          </div>
	        </div>
	        <div class="column is-4-desktop is-offset-2-desktop is-offset-1-tablet is-10-mobile is-5-tablet is-offset-1-mobile has-text-justified-mobile" >
	          <div class="hero-body">
	            <h2 class="subtitle is-marginless is-6 gold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".71s"><span class="chat-box wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".74s" style="background-image: url(assets/images/svg/think.svg); "></span>Issue Resolve</h2>
	            <p class=" white subtitle is-6 has-text-justified  wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".78s">Help desk ensures that the issue is resolved, identifying cost, material and resource utilization.</p>
	          </div>
	          <div class="hero-body">
	            <h2 class="subtitle font is-marginless is-6 gold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".85s"><span class="chat-box wow fadeInLeft"  data-wow-duration=".8s" data-wow-delay=".86s" style="background-image: url(assets/images/svg/shield.svg); "></span>Root Cause & Prevention Analysis</h2>
	            <p class=" white subtitle is-6 has-text-justified  wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".88s">After root cause is identified, preventive measures are taken by drafting and implementing manuals and bylaws.</p>
	          </div>

	        </div>
	      </div>
	    </div>
	    
	    
	    <div class="level is-relative " >
	      <div class="picture-shape wow fadeInUp "  data-wow-duration=".8s" data-wow-delay="2.6s"></div>
	      <div class="upper-shape wow fadeInUp rotateIn"  data-wow-duration=".8s" data-wow-delay="1.6s"></div>
	      <div class="lower-shape wow fadeInUp rotateIn"  data-wow-duration=".8s" data-wow-delay="1.8s"></div>
	    </div> 
  </section>